
<% layout('layouts/boilerplate') %>
<div class="page">
  <div class="mains Container __top">
    <div class="details">
      <div class="app-icon">
        <img class="download-image" src="<%= listing.image %>" />
      </div>
      <div class="app-info">
        <h1 id="detail-app-name"><%= listing.title %></h1>
        <div class="version"><%= listing.version %></div>
        <div class="author">
          <a href=""><%= listing.developer %></a>
        </div>
      </div>
    </div>

    <div class="d-btn">
      <a href="<%= listing.url %>" id="download-button" data-id="<%= listing._id %>">
        <button type="button" onclick="incrementDownloadCount('<%= listing._id %>')">
          DOWNLOAD &nbsp;<i class="bx bx-download" style="color: #ffffff"></i>
        </button>
      </a>
    </div>

    

  </div>
</div>
<div class="article-p">
  <div class="article">
    <div class="txt">
      <div class="content">
        <h2 class="headline">What is <%= listing.title %>?</h2>

        <p class="description"><%= listing.description.whatItIs %></p>

        <h2 class="headline" style="margin-top: 1rem">
          Key Features of <%= listing.title %>
        </h2>

        <ul class="Features">
          <% for(let keyFeatures of listing.description.keyFeatures) { %>
          <li class="description"><%= keyFeatures %></li>
          <% } %>
        </ul>

        <h2 class="headline">HOW SAFE IS <%= listing.title %>?</h2>

        <p class="description">
          <%= listing.description.securityFeatures[0] %>
        </p>
      </div>
    </div>
    <aside class="side-section">
      <div class="app-specs">
        <div class="table">
          <h2 class="title-app-info">App info</h2>
          <ul class="app-info-list">
            <li>
              <h3 class="app-info-title">License</h3>
              <p class="app-info-description"><%= listing.license %></p>
            </li>

            <li>
              <h3 class="app-info-title">Version</h3>
              <select class="app-info-description" id="version-select">
                <option value="1.0">1.0</option>
                <option value="2.0">2.0</option>
                <option value="3.0">3.0</option>
                <option value="4.0">4.0</option>
                <option value="5.0">5.0</option>
                <option value="6.0">6.0</option>
                <option value="7.0">7.0</option>
                <option value="8.0">8.0</option>
              </select>
            </li>

            <li>
              <h3 class="app-info-title">Developer</h3>
              <p class="app-info-description"><%= listing.developer %></p>
            </li>

            <li>
              <h3 class="app-info-title">Platform</h3>
              <% for(let platform of listing.platform) { %>
              <p class="app-info-description"><%= platform %></p>
              <% } %>
            </li>

            <li>
              <h3 class="app-info-title">Latest Update</h3>
              <p class="app-info-description"><%= listing.version %></p>
            </li>

            <li>
              <h3 class="app-info-title">Language</h3>
              <p class="app-info-description"><%= listing.languages[0] %></p>
            </li>
            <li>
              <h3 class="app-info-title">Total Downloads</h3>
              <p class="app-info-description"><%= listing.downloadCount %></p>
            </li>

          </ul>
        </div>
      </div>
    </aside>
  </div>
</div>

<section class="rating-section">
  <div class="rate-review-container">
    <form action="/home/download/<%= listing.id%>/reviews" method="POST">
    <div class="rating-container">
      <div class="rating-review-content">
        <div class="rate-heading">
          <div class="rate-a">
            <div class="rate">
              <h1>Rate this App ></h1>
            </div>
          </div>
        </div>

        <div class="rating-box">
          <div class="rating-box1">
            <div class="rating">
              <img
                src="<%= listing.image %>"
                alt="Application Logo"
                class="app-logo"
              />
             <input type="range" min="1" max="5" id="ratng" name="review[rating]">

            </div>
          </div>
        </div>

        <div class="review-section">
          <div class="review-a">
            <div class="review">
              <textarea placeholder="Write your review..." class="review-textarea" name="review[comment]" id="comment" required></textarea>
              <div id="comment-error" class="error-message">Please write a review.</div>
            </div>
          </div>
        </div>
        <div class="submit-section">
          <div class="submit-a">
            <div class="submit">
              <button class="submit-button">
                Submit
              </button>
            </div>
          </div>
        </div>
        
        <div class="all-reviews">
          <h4>All Reviews</h4>
          <div class="review-cards">
            <% for(let review of listing.reviews) { %>
              <div class="review-card">
                <div class="card-content">
                  <h5 class="card-title">Rating: <%= review.rating %></h5>
                  <p class="card-text"><%= review.comment %></p>
                  <form action="/home/download/<%= listing.id%>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                    <button class="review-delete">Delete</button>
                  </form>
                </div>
              </div>
            <% } %>
          </div>
        </div>
        
        
      </div>
    </div>
  </form>
  </div>
</section>
